.container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: $mainBackground;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 530px;
    border-top: 0;
    border-left: 2px solid lime;
    border-right: 2px solid lime;
    border-bottom: 2px solid lime;
    &-reddit {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        grid-template-rows: repeat(9, 1fr);
    }
    &-youtube {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        grid-template-rows: repeat(9, 1fr);
    }
    &-github {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        grid-template-rows: repeat(9, 1fr);
    }
    &-twitch {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        grid-template-rows: repeat(9, 1fr);
    }
    &-google {
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
    }
}