.container {
    width: 80%;
    margin: 200px auto;
    background-color: $mainBackground;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &-reddit {
        grid-column: 2 / span 1;
    }
    &-youtube {
        grid-column: 3 / span 1;
    }
    &-github {
        grid-column: 4 / span 1;
        grid-template-rows: repeat(6, 1fr);
    }
    &-twitch {
        grid-column: 1 / span 1;
        grid-template-rows: repeat(6, 1fr);
    }
}