.reddit {
    grid-column: 2 / span 1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 205px;
    text-align: center;
    &-header {
        border: 1px solid lime;
        height: 50px;
        font-size: 2rem;
        font-weight: 600;
    }
    &-body {
        align-self: center;
        border: 1px solid lime;
        line-height: 50px;
        height: 50px;
    }
}