.container {
  width: 100%;
  margin: 0 auto;
  @mixin atLarge {
    width: 80%;
  }
  &--m-top-l {
    margin-top: 10%;
    @mixin atMedium {
      margin-top: 25%;
    }
    @mixin atLarge {
      margin-top: 10%;
    }
  }
}