.row {
  text-align: center;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &--gutters {
    /* margin-right: -65px;
    margin-left: -65px; */
    @mixin atLarge {}
  }
  &--gutters>div {
    /* padding-right: 65px;
    padding-left: 65px; */
    @mixin atLarge {}
  }
  &_c-1 {
    float: left;
    width: 8%;
    &--margin-4 {
      &-r {
        margin-right: 32%;
      }
      &-l {
        margin-left: 32%;
      }
    }
  }
  &_c-4 {
    float: left;
    width: 32%;
  }
  &--center {}
}