.thumbnail {
  @mixin atLarge {
    width: 4.42rem;
  }
  &--icon {
    display: block;
    text-align: center;
    font-size: 10rem;
    line-height: 1.25;
    color: black;
    &-white {
      @mixin atLarge {
        color: white;
      }
    }
    @mixin atMedium {
      font-size: 8rem;
    }
    @mixin atLarge {
      font-size: 4.25rem;
    }
  }
}