.thumbnail {
  display: inline-block;
  font-size: 10rem;
  color: black;
  &--white {
    @mixin atLarge {
      color: white;
    }
  }
  @mixin atMedium {
    font-size: 8rem;
  }
  @mixin atLarge {
    font-size: 4.25rem;
  }
}